html body {
    background-color: #111d29;
}
html body a {
    color: #b1d237 !important;
}
#SIvCob {
    color: #fff !important;
}
#SIvCob a, .gLFyf , .FPdoLc input, .ayzqOc, .sbct, .jtfYYd a, .pcJO7e{
    color: #b1d237 !important;
}
.WE0UJf {
    background-color: #111d29 !important;
    color: white !important;
}
.jtfYYd, .CEMQBg, .sfbg, .yg51vc, .V3FYCf {
    background-color: #111d29 !important;
}
.yg51vc {
    color: white !important;
}
.iUh30, .GmE3X, .GNm3Qb, .xSQxL, .KwU3F, .VwiC3b span {
    color: rgb(172, 150, 150) !important;
}
.AonJHf, .YsGUOb {
    background-color: #b1d237 !important;
}
.ULSxyf, .O3JH7, .pcJO7e cite, .dfB0uf {
    color: whitesmoke !important;
}
.f6F9Be {
    background-color: #111d29 !important;
    color: white !important;
    border-top: 1px solid #b1d237;
}